<div class="card">
	<div class="card-body">
		<div class="float-md-left">
			<img
				src="/static/badge-beer-default.png"
				alt="Default Beer Badge"
			/>
		</div>
		<h3 class="card-title">{{ beers[rating.beer_id]['name'] }}</h3>
		<h4 class="card-subtitle">{{ beers[rating.beer_id]['brewery'] }}</h4>
		<h5>{{ beers[rating.beer_id]['style'] }}</h5>
		<div class="rating-info">
			Rating: {{rating.rating}}<br />
			{% if rating.comments|length %} {{rating.comments}}<br />{% endif
			%} Serving Style: {{rating.serving_size}}<br />
			{% if rating.purchase_location|length %}Purchased at:
			{{rating.purchase_location}}<br />{% endif %}
			<div class="text-muted">
				by {% if rating.user_id != session['curr_user'] %}<a
					href="/activity/profile/{{rating.user_id}}"
					title="Follow {{rating.user.username}}"
					>{{rating.user.username}}</a
				>{% else %}{{rating.user.username}}{% endif %} on
				{{rating.created_dt.strftime('%A %B %-d, %Y at %I:%M% %p')}}
			</div>

			<!-- Toasts and Comments -->
			{% if toasts[rating.checkin_id] or comments[rating.checkin_id] %}
			<h4 class="toasts-and-comments">Toasts & Comments</h4>
			{% if toasts[rating.checkin_id] %}
			<p>
				{% for toaster in toasts[rating.checkin_id] %}{% if
				loop.index > 1 %}, {% endif %}<strong
					>{% if toaster['user_id'] != session['curr_user'] %}<a
						href="/activity/profile/{{toaster['user_id']}}"
						title="Follow {{toaster['username']}}"
						>{{toaster['username']}}</a
					>
					{% else %}{{toaster['username']}}{% endif %}</strong
				>{% endfor %} toasted this
			</p>
			{% endif %}{% if comments[rating.checkin_id] %}{% for comment in
			comments[rating.checkin_id] %}
			<p>
				<strong
					>{% if comment['user_id'] != session['curr_user'] %}<a
						href="/activity/profile/{{comment['user_id']}}"
						title="Follow {{comment['username']}}"
						>{{comment['username']}}</a
					>
					{% else %}{{comment['username']}} {% endif %}</strong
				><br />
				{{comment['comments']}}
			</p>
			{% endfor %} {% endif %} {% endif %}
		</div>
	</div>

	<div class="card-footer">
		{% if rating.user_id == session['curr_user'] %}
		<a
			href="/profile/checkin/edit/{{rating.checkin_id}}"
			class="btn-sm btn-primary"
			>Edit</a
		>
		<a
			href="/profile/checkin/delete/{{rating.checkin_id}}"
			class="btn-sm btn-danger"
			>Delete</a
		>
		{% else %}
		<a
			href="/activity/toast/{{rating.checkin_id}}"
			title="Toast this Checkin"
			class="btn-sm btn-primary"
			>Toast</a
		>
		<a
			class="btn-sm btn-success"
			onclick="toggleShowHide('comments{{rating.checkin_id}}')"
			>Comment</a
		>
		<div style="display: none" id="comments{{rating.checkin_id}}">
			{% include 'activity/checkin_comment.html' %}
		</div>
		{% endif %}
	</div>
</div>
