<div class="card">
	<div class="card-body">
		<div class="float-md-left">
			<img
				src="/static/badge-beer-default.png"
				alt="Default Beer Badge"
			/>
		</div>
		<h3 class="card-title">{{ beer.name }}</h3>
		<h4 class="card-subtitle">{{ beer.brewery.name }}</h4>
		<h5>{{ beer.style.style_name }}</h5>
		{% if beer.abv != 0.0 %}
		<p>ABV: {{beer.abv}}</p>
		{% endif %} {% if beer.descript|length %}
		<p class="card-text">{{beer.descript}}</p>
		{% endif %}
		<div class="actions">
			<a href="/beer/checkin/{{beer.id}}" class="btn btn-success"
				>Check In</a
			>
			{% if beer.id not in session['wishlist'] %}
			<a href="/beer/wishlist/add/{{beer.id}}" class="btn btn-primary"
				>Add to Wishlist</a
			>
			{% else %}
			<a
				href="/beer/wishlist/delete/{{beer.id}}"
				class="btn btn-danger"
				><strong>DELETE</strong> from Wishlist</a
			>
			{% endif %}
		</div>
	</div>
</div>
