<div class="card">
	<div class="card-body">
		<h3 class="card-title">{{ beer.name }}</h3>
		<h4 class="card-subtitle">{{ beer.brewery.name }}</h4>
		<h5>{{ beer.style.style_name }}</h5>
		{% if beer.descript|length %}
		<p class="card-text">{{beer.descript}}</p>
		{% endif %}
		<a href="/beer/checkin/{{beer.id}}" class="btn btn-success"
			>Check In</a
		>
		{% if beer.id not in session['wishlist'] %}
		<a
			href="/beer/wishlist/add/{{beer.id}}?q={{form.search.data}}"
			class="btn btn-primary"
			>Add to Wishlist</a
		>
		{% else %}
		<a
			href="/beer/wishlist/delete/{{beer.id}}?q={{form.search.data}}"
			class="btn btn-danger"
			><strong>DELETE</strong> from Wishlist</a
		>
		{% endif %}
	</div>
</div>
