{% extends 'base.html' %} {% block title %}Hopps Hunter | Search{% endblock %}
{% block content %}

<h1>Search for Beers</h1>

<form method="POST" action="/search" id="search-form">
	{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
	'hidden' %} {% for error in field.errors %}
	<span class="text-danger">{{ error }}</span>
	{% endfor %} {{ field(placeholder=field.label.text, class="form-control")
	}} {% endfor %}
	<br />
	<button class="btn btn-primary btn-lg btn-block">Search</button>
</form>
{% if beers or breweries or styles %}
<p id="search-results">
	<strong>Search Results:</strong>

	{% if beers %}<a href="#beers">Beers ({{beers|length}})</a>{% endif %} {%
	if beers and breweries %} | {% endif %} {% if breweries %}<a
		href="#breweries"
		>Breweries ({{breweries|length}})</a
	>{% endif %} {% if breweries and styles %} | {% endif %} {% if styles %}<a
		href="#styles"
		>Styles ({{styles|length}})</a
	>{% endif %}
</p>
{% endif %} {% if beers %} {% if beers|length == 0 %}
<h2>Sorry, no beers found from that search.</h2>
{% else %}
<h2 id="beers">Beers</h2>
{% for beer in beers %}
<div class="card">
	<div class="card-body">
		<h3 class="card-title">{{ beer.name }}</h3>
		<h4 class="card-subtitle">{{ beer.brewery.name }}</h4>
		<h5>{{ beer.style.style_name }}</h5>
		{% if beer.descript|length %}
		<p class="card-text">{{beer.descript}}</p>
		{% endif %}
		<a href="/beer/checkin/{{beer.id}}" class="btn btn-success"
			>Check In</a
		>
		<a href="/beer/wishlist/{{beer.id}}" class="btn btn-primary"
			>Add to Wishlist</a
		>
		<!-- <form method="POST" action="/beer/wishlist/{{beer.id}}">
			<input
				type="hidden"
				name="search"
				value="{{form.search.data}}"
			/>
			<button class="btn btn-primary">Add to Wishlist</button>
		</form> -->
	</div>
</div>
{% endfor %} {% endif %} {% endif %} {% if breweries %} {% if breweries|length
== 0 %}
<h2>Sorry, no breweries found from that search.</h2>
{% else %}
<h2 id="breweries">Breweries</h2>
{% for brewery in breweries %}
<div class="card">
	<div class="card-body">
		<h3 class="card-title">{{ brewery.name }}</h3>
		<h4 class="card-subtitle">{{ brewery.city }}, {{ brewery.state }}</h4>
		{% if brewery.descript|length %}
		<p class="card-text">{{brewery.descript}}</p>
		{% endif %}
		<a href="#" class="btn btn-success">Show Beers</a>
		<a href="#" class="btn btn-primary">Add to Wishlist</a>
	</div>
</div>
{% endfor %} {% endif %} {% endif %} {% if styles %} {% if styles|length == 0 %}
<h2>Sorry, no styles found from that search.</h2>
{% else %}
<h2 id="styles">Styles</h2>
{% for style in styles %}
<div class="card">
	<div class="card-body">
		<h3 class="card-title">{{ style.style_name }}</h3>
		<a href="#" class="btn btn-success">Show Beers</a>
		<a href="#" class="btn btn-primary">Add to Wishlist</a>
	</div>
</div>
{% endfor %} {% endif %} {% endif %} {% endblock %}
