nav {
	background-color: black;
}
h2 {
	margin-top: 15px;
}
.card {
	margin-bottom: 12px;
}
.account-option {
	margin-top: 15px;
	font-size: 140%;
	text-align: center;
	font-weight: 500;
	display: block;
}
#search-form {
	display: flex;
}
#search-form select,
#search-form input[type='text'] {
	margin-right: 20px;
}

#search-results {
	font-size: 140%;
	margin: 15px 0;
}

.float-md-left {
	margin: 0 10px 10px 0;
}
.card-text,
.rating-info,
.profile-account-heading {
	clear: both;
}
.text-muted {
	font-style: italic;
	font-size: 90%;
}
.toasts-and-comments {
	margin-top: 10px;
}
.rating-info p {
	margin-top: 10px;
	margin-bottom: 0;
}
