{% extends 'base.html' %} {% block title %}Hopps Hunter | Signup{% endblock %}
{% block content %}

<h1>Signup</h1>

<form method="POST">
	{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
	'hidden' %} {% for error in field.errors %}
	<span class="text-danger">{{ error }}</span>
	{% endfor %} {{ field(placeholder=field.label.text, class="form-control")
	}} {% endfor %}
	<br />
	<button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
</form>
<p class="account-option">
	Already have an account?
	<a href="/user/login" alt="Login to Hopps Hunter">Login NOW!</a>
</p>
{% endblock %}
